@import url('https://fonts.googleapis.com/css2?family=Geostar&family=Montserrat&family=Roboto&display=swap');


p{
  font-family: 'montserrat', sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 2;
}

h1 {
  text-decoration: underline;
  font-family: 'Geostar', sans-serif;
  /* margin-top: 20px;
  margin-left: 30px;
  margin-bottom: 100px; */
  margin: 45px auto 200px auto;
  width: 30%;
  border: 2px solid #000000;
  padding: 10px 20px 30px 40px;
}