.inline{
  /* sem quebra de linhas, largura minima */
  display: inline;
  margin-top: 10px; /* nao aceita margem nem preenchimmento vertical, apenas horizontal*/
  margin-left: 20px;
}

.block{
  /* com quebra de linhas, usa largura maxima, aceita margem e preenchimento vertical e horizontal*/
  display: block;
  margin-top: 10px;
  margin-left: 20px;
}

.inline-block{
  /* This CSS code block sets the display property of an element to not allow line breaks, use the maximum width available, and not accept any overflow content. */
  /* nao quebra as linhas, usa largura maxima, nao aceita  */
  display: inline-block;
  margin-top: 10px;
  padding-top: 100px;
  margin-left: 20px;
}