*{
  margin: 0;
  padding: 0;

}
li{
  background-color: rgb(37, 36, 35);
  border: 4px solid transparent;
  border-radius: 4px;

  padding: 32px;

  display: inline-block;
  margin: 10px;
  color: #fff;

  height: 250px;
  width: 400px;

  cursor: pointer;
}

h2,p{
  padding-left: 10px;
}

.hidden{
  display: none;
}

.selected{
  border: #1358d8 solid 4px;
  background-color:rgb(63, 61, 59) ;
}