html{
  background-color: #2c3e50;
}

h1{
  color: aliceblue;
}

h2{
  background-color: rgb(211, 190, 0);
  border: black solid;
}

h3{
  color: rgb(211, 190, 0);
}

ul li{
  color: aliceblue;
}

#astronomy-class{
  color: rgb(204, 67, 33);
}

#astronomy-class:hover{
  color: rgb(211, 190, 0);
}